extends ./base.jade
block append style
    link(rel="stylesheet", type="text/css", href="/assets/style.css")
block body
  nav
    a(href="/login")
      img#logo(src="/assets/img/face.png", alt="face logo")
    .navlink
      a(href="/maker") Maker |
      a(href="/logout") Log out
  section#domos
    if !users || users.length == 0
      div.domo
        h3.emptyDomo No Users yet
    else
      each val in users
        div.domo
          img(class="domoFace", src="/assets/img/domoface.jpeg", alt="domo face")
          h3.domoName Username: #{val.username}
  #domoMessage
    img#speech(src="/assets/img/speech.png", alt="speech box")
    h3
      span#errorMessage
    img#domo(src="assets/img/domo.png", alt="domo")
block scripts
        script(src="/assets/maker.js")